<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="swecommon30-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.swecommon30.TestRunListener" />
    <listener class-name="org.opengis.cite.swecommon30.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.swecommon30.TestFailureListener" />
  </listeners>

  <test name="Physical System">
    <packages>
      <package name="org.opengis.cite.swecommon30.physicalsystem" />
    </packages>
    <classes>
      <class name="org.opengis.cite.swecommon30.SuitePreconditions" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
